<<<<<<< HEAD
<button id="runner"> runner </button>
<button id="weight lifter"> weight lifter </button>
<button id="yogi"> yogi </button>
=======
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <button id="runner" class="btn btn-default btn-xl"> Runner </button>
    <button id="lifter" class="btn btn-default btn-xl"> Lifter </button>
    <button id="yogi" class="btn btn-default btn-xl"> Yogi </button>
  </div>
</div>
>>>>>>> b36dbd0603648b50e3797a1d817522f0b773740f
