<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <button id="runner" class="btn btn-default btn-xl"> Runner </button>
    <button id="lifter" class="btn btn-default btn-xl"> Lifter </button>
    <button id="yogi" class="btn btn-default btn-xl"> Yogi </button>
  </div>
</div>