
<div class="jumbotron clearfix">
  <section class="blurb col-xs-4">
  <h1>Eat like an athlete.</h1>
  <p>
    Six-pack abs may be made in the kitchen, but how do you know what to eat when? Meal planning and reminders by Me Hungry Now helps stick to a healthy lifestyle!</p>
  <p><a class="btn btn-primary btn-lg" role="button">SIGN UP</a></p>
  </section>
</div>

<% if false %>
<div class="row">
  <div class="col-sm-4 text-center">
    <span class="glyphicon glyphicon-envelope"></span>
    <h3>Sign up</h3>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Fill out</h3>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Chow down</h3>
  </div>
</div>

<% end %>