
<div class="jumbotron clearfix">
  <section class="blurb col-xs-5">
  <h1>Eat like an athlete.</h1>
  <p>
    They say six-pack abs are made in the kitchen, but how do you know what to eat when? Meal planning and reminders by Me Hungry Now helps stick to a healthy lifestyle!</p>
  <p><a class="btn btn-primary btn-lg" role="button">SIGN UP</a></p>
  </section>
</div>

<div class="row">
  <div class="col-sm-4 text-center">
    <i class="glyphicon glyphicon-envelope"></i>
    <h3>Sign up</h3>
    <p>All you need to start eating like an athlete is an email address (and a password). Easy peasy.</p>
  </div>
  <div class="col-sm-4 text-center">
    <i class="glyphicon glyphicon-user"></i>
    <h3>Fill out</h3>
    <p>Trying to bulk up? Lose weight? Train for a marathon? Enter your fitness goals so Me So Hungry can feed your needs.</p>
  </div>
  <div class="col-sm-4 text-center">
    <i class="glyphicon glyphicon-thumbs-up"></i>
    <h3>Chow down</h3>
    <p>Me So Hungry will send you
  </div>
</div>
