
<div class="jumbotron clearfix">
  <section class="blurb col-xs-5">
  <h1>Eat like an athlete.</h1>
  <p>
    They say six-pack abs are made in the kitchen, but how do you know what to eat when? Meal planning and reminders by Me Hungry Now helps stick to a healthy lifestyle!</p>
    <% if !user_signed_in? %>
      <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    <% end %>
  </section>
</div>

<div class="row">
  <div class="col-sm-4 text-center">
    <i class="glyphicon glyphicon-envelope"></i>
    <h3>Sign up</h3>
    <p>
      Sign up with your email address
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <i class="glyphicon glyphicon-user"></i>
    <h3>Fill out</h3>
  </div>
  <div class="col-sm-4 text-center">
    <i class="glyphicon glyphicon-thumbs-up"></i>
    <h3>Chow down</h3>
  </div>
</div>
