
<div class="content-yoga clearfix">
<h2> Food to Fuel Yoga!</h2>
  <script>
  $(document).ready(function() {
    var MeHungryNow = MeHungryNow || {};

    MeHungryNow.exampleRecipes = function(){
      $.ajax({
        type: "GET",
        url: 'cookbooks/yogi',
        dataType: 'json',
        })
        .fail(function(response) {
          console.log("fail");
        })
        .done(function(data){
          MeHungryNow.renderAllRecipes(data.matches);
          console.log(data);
        });

      return false;
    };

    MeHungryNow.renderAllRecipes = function(recipes) {
      var $container_div = $(".content-yoga");
      if(recipes.length === 0) {
        $container_div.text("");
        $container_div.append('<h1>Sorry, we are look for more</h1>');
      }else{
        var length = recipes.length, i = 0;
        for(; i < length; i++) {
          MeHungryNow.renderRecipe(recipes[i], $container_div);
        }
      }
    };

    MeHungryNow.renderRecipe = function(recipe, container) {
      var recipe_image = recipe.smallImageUrls[0] || '/recipeme.png',
      $recipe_div = $('<div class="col-md-4 recipe-thumbnail">'),
      $recipe_content = $('<div class="recipe-content" id="recipe' + recipe.id + '">'),
      $recipe_title = $("<p class='recipe_title'>" + recipe.recipeName + "</p>"),
      $recipe_img = $('<img class="recipe-img" src="' + recipe_image + '">');

      $recipe_content.append($recipe_title);
      $recipe_div.append($recipe_img, $recipe_content);

      container.append($recipe_div);
    };

    MeHungryNow.exampleRecipes();

  });
  </script>
</div>

<div class="content-runner clearfix">
  <h2> Food to Fuel Running!</h2>
    <script>
    $(document).ready(function() {
      var MeHungryNow = MeHungryNow || {};

      MeHungryNow.exampleRecipes = function(){
        $.ajax({
          type: "GET",
          url: 'cookbooks/runner',
          dataType: 'json',
          })
          .fail(function(response) {
            console.log("fail");
          })
          .done(function(data){
            MeHungryNow.renderAllRecipes(data.matches);
            console.log(data);
          });

        return false;
      };

      MeHungryNow.renderAllRecipes = function(recipes) {
        var $container_div = $(".content-runner");
        if(recipes.length === 0) {
          $container_div.text("");
          $container_div.append('<h1>Sorry, we are look for more</h1>');
        }else{
          var length = recipes.length, i = 0;
          for(; i < length; i++) {
            MeHungryNow.renderRecipe(recipes[i], $container_div);
          }
        }
      };

      MeHungryNow.renderRecipe = function(recipe, container) {
        var recipe_image = recipe.smallImageUrls[0] || '/recipeme.png',
        $recipe_div = $('<div class="col-md-4 recipe-thumbnail">'),
        $recipe_content = $('<div class="recipe-content" id="recipe' + recipe.id + '">'),
        $recipe_title = $("<p class='recipe_title'>" + recipe.recipeName + "</p>"),
        $recipe_img = $('<img class="recipe-img" src="' + recipe_image + '">');

        $recipe_content.append($recipe_title);
        $recipe_div.append($recipe_img, $recipe_content);

        container.append($recipe_div);
      };

      MeHungryNow.exampleRecipes();

    });

    </script>
  </div>

  <div class="content-weight-lifter clearfix">
  <h2> Food to Fuel Lifting!</h2>
    <script>
    $(document).ready(function() {
      var MeHungryNow = MeHungryNow || {};

      MeHungryNow.exampleRecipes = function(){
        $.ajax({
          type: "GET",
          url: 'cookbooks/weight_lifter',
          dataType: 'json',
          })
          .fail(function(response) {
            console.log("fail");
          })
          .done(function(data){
            MeHungryNow.renderAllRecipes(data.matches);
            console.log(data);
          });

        return false;
      };

      MeHungryNow.renderAllRecipes = function(recipes) {
        var $container_div = $(".content-weight-lifter");
        if(recipes.length === 0) {
          $container_div.text("");
          $container_div.append('<h1>Sorry, we are look for more</h1>');
        }else{
          var length = recipes.length, i = 0;
          for(; i < length; i++) {
            MeHungryNow.renderRecipe(recipes[i], $container_div);
          }
        }
      };

      MeHungryNow.renderRecipe = function(recipe, container) {
        var recipe_image = recipe.smallImageUrls[0] || '/recipeme.png',
        $recipe_div = $('<div class="col-md-4 recipe-thumbnail">'),
        $recipe_content = $('<div class="recipe-content" id="recipe' + recipe.id + '">'),
        $recipe_title = $("<p class='recipe_title'>" + recipe.recipeName + "</p>"),
        $recipe_img = $('<img class="recipe-img" src="' + recipe_image + '">');

        $recipe_content.append($recipe_title);
        $recipe_div.append($recipe_img, $recipe_content);

        container.append($recipe_div);
      };

      MeHungryNow.exampleRecipes();

    });

    </script>
  </div>



