
<h1> Food to Fuel Yoga!</h1>
<div class="content"></div>
<div>
  <script>
  $(document).ready(function() {
    var MeHungryNow = MeHungryNow || {};

    MeHungryNow.exampleRecipes = function(){
      $.ajax({
        type: "GET",
        url: 'cookbooks/yogi',
        dataType: 'json',
        })
        .fail(function(response) {
          console.log("fail");
        })
        .done(function(data){
          MeHungryNow.renderAllRecipes(data.matches);
          console.log(data);
        });

      return false;
    };

    MeHungryNow.renderAllRecipes = function(recipes) {
      var $container_div = $(".content");
      if(recipes.length === 0) {
        $container_div.text("");
        $container_div.append('<h1>Sorry, we are look for more</h1>');
      }else{
        var length = recipes.length, i = 0;
        for(; i < length; i++) {
          MeHungryNow.renderRecipe(recipes[i], $container_div);
        }
      }
    };

    MeHungryNow.renderRecipe = function(recipe, container) {
      var recipe_image = recipe.smallImageUrls[0] || '/recipeme.png',
      $recipe_div = $('<div class="col-sm-4 recipe thumbnail">'),
      $recipe_content = $('<div class="recipe-content" id="recipe' + recipe.id + '">'),
      $recipe_content_inner_title = $('<div class="col-sm-10">'),
      $recipe_content_inner_favorite = $('<div class="col-sm-2">'),
      $recipe_title = $("<a class='recipe_title'>" + recipe.recipeName + "</h3>"),
      $recipe_img = $('<img class="recipe-img" src="' + recipe_image + '">');

      $recipe_content_inner_title.append($recipe_title);
      $recipe_content.append($recipe_content_inner_title, $recipe_content_inner_favorite);
      $recipe_div.append($recipe_img, $recipe_content);

      container.append($recipe_div);
    };

    MeHungryNow.exampleRecipes();

  });

  </script>
</div>
