<% if @error %>
  <p><%= @error %></p>
<% end %>


<% if @contacts.present? %>
  <% @contacts.results.each do |contact| %>
    <p>Contact email: <%= "#{contact.email_addresses[0].email_address}" %></p>
  <% end %>
<% end %>

<%= debug @contacts %>