<% if @error %>
  <p><%= @error %></p>
<% end %>

<h2>Single contact</h2>
<% if @contact %>
  <%= debug @contact %>
<% end %>

<h2>Contacts List</h2>
<% if @contacts.present? %>
  <% @contacts.each do |contact| %>
    <%= contact %> 
  <% end %>
<% end %>


